.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: end;
}

.flex-justify-space-between, nav {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-justify-stretch {
  justify-content: stretch;
}

.flex-justify-baseline {
  justify-content: baseline;
}

.flex-align-start {
  align-items: start;
}

.flex-align-center, nav {
  align-items: center;
}

.flex-align-end {
  align-items: end;
}

.flex-align-space-between {
  align-items: space-between;
}

.flex-align-space-around {
  align-items: space-around;
}

.flex-align-space-evenly {
  align-items: space-evenly;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-baseline {
  align-items: baseline;
}

.grid-justify-start {
  justify-items: start;
}

.grid-justify-center {
  justify-items: center;
}

.grid-justify-end {
  justify-items: end;
}

.grid-justify-space-between {
  justify-items: space-between;
}

.grid-justify-space-around {
  justify-items: space-around;
}

.grid-justify-space-evenly {
  justify-items: space-evenly;
}

.grid-justify-stretch {
  justify-items: stretch;
}

.grid-justify-baseline {
  justify-items: baseline;
}

.grid-align-start {
  align-content: start;
}

.grid-align-center {
  align-content: center;
}

.grid-align-end {
  align-content: end;
}

.grid-align-space-between {
  align-content: space-between;
}

.grid-align-space-around {
  align-content: space-around;
}

.grid-align-space-evenly {
  align-content: space-evenly;
}

.grid-align-stretch {
  align-content: stretch;
}

.grid-align-baseline {
  align-content: baseline;
}

#root {
  padding: 1rem;
  perspective: 25rem;
  perspective-origin: top center;
}

#root > :is(div, section) {
  display: none;
}

#root > :is(div, section):target {
  display: grid;
}

nav {
  display: flex;
  padding: 0.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Jugadores */
.player {
  display: flex;
  position: sticky;
  top: 0.5rem;
  max-width: 240px;
  margin: 0.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #eee;
  opacity: 0.7;
}

.player:hover {
  z-index: 1;
}

.player :is(ul, ol) {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

/* Caja */
.box {
  max-width: 720px;
  margin: 1rem auto;
  border-radius: 1rem 1rem 0 0;
  border: 1rem solid #633;
  padding: 1rem;
  background-color: #a64;
  box-shadow: -0.5rem 0.5rem 0.5rem #333, 0.25rem -0.25rem 0 0.25rem #633, 1.5rem -1.5rem #844 inset;
}

/* tablero */
.board {
  position: relative;
  max-width: 540px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* Celdas */
.cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: min(4vw, 3rem);
  min-height: min(4vw, 3rem);
  padding: 0.5rem;
}

.cell.odd {
  background-color: #633;
}

.cell.even {
  background-color: #a66;
}

/* Damas */
.checker {
  width: min(3.75vw, 2.75rem);
  border-radius: 50%;
}

.checker.black {
  background-color: #333;
}

.checker.red {
  background-color: #c33;
}

/* Reloj */
@font-face {
  font-family: "clock";
  src: url("/assets/digital-7.ttf");
}
#clock-time * {
  font-family: clock;
  box-sizing: border-box;
  color: #3c6;
  text-shadow: 0 0 0.25rem #3c6;
  background-color: transparent;
}

#clock-time {
  max-width: 360px;
  display: grid;
  grid-template-areas: "clock clock clock" "HH mm ss" "select select select" "controls controls controls";
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
  border: 1rem solid black;
  border-radius: 0.5rem;
  padding: 1.5rem 0.5rem;
  background: #3c6 linear-gradient(to top right, rgba(51, 51, 51, 0.9333333333), rgba(17, 17, 17, 0.9333333333));
  transform: rotateX(5deg);
}

#clock-time #clock {
  grid-area: clock;
  font-size: min(5rem, 2vw + 1.5rem);
  text-align: center;
  margin: 0;
}

.time {
  width: 100%;
}

#HH {
  grid-area: HH;
}

#mm {
  grid-area: mm;
}

#ss {
  grid-area: ss;
}

#clock-time select.controls {
  grid-area: select;
}

#clock-time .controls {
  grid-area: controls;
}

#clock-time :is(input, select, button) {
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  background-color: rgba(51, 51, 51, 0);
  text-align: center;
  outline: none;
  border: 1px solid;
  border-radius: 0.25rem;
}

#clock-time button:hover {
  background-color: rgba(0, 0, 0, 0.5333333333);
  box-shadow: 0 0.25rem;
  transform: translateY(-0.25rem);
}

#clock-time button:active {
  box-shadow: 0 0;
  transform: translateY(0);
}

.card::after, .card::before {
  position: absolute;
  font-size: 1.75rem;
  line-height: 1rem;
  margin: 0.5rem;
}

.card::before {
  top: 0;
  left: 0;
}

.card::after {
  bottom: 0;
  right: 0;
}

.black {
  --color: #333;
}

.red {
  --color: #c33;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 6rem;
  height: 8rem;
  border-radius: 0.5rem;
  border: 0.25rem solid #ccc;
  font-size: 2.5rem;
  color: transparent;
  background-color: #fff;
  transform: rotateX(180deg);
  background: repeating-linear-gradient(to top right, rgba(34, 68, 136, 0.5333333333) 5%, rgba(255, 255, 255, 0.6666666667) 10%), repeating-linear-gradient(to top left, rgba(34, 68, 136, 0.5333333333) 5%, rgba(255, 255, 255, 0.6666666667) 10%);
}
.card::before {
  content: attr(data-suite);
}
.card::after {
  content: attr(data-suite);
}
.card-mat {
  background: linear-gradient(#3c6, #284);
}
.card-space {
  width: 7rem;
  height: 9rem;
  border-radius: 0.25rem;
  border: 0.5rem solid #fff;
}

/*# sourceMappingURL=default.css.map */
