.atFront{
    @extend .p-fixed;
    z-index: 2;
}
footer{
    @extend .p-relative;
    padding: .5rem;
    min-height: 480px;
    background: linear-gradient(#6668, #3338);
    #map{
        @extend .cover;
        & + button{
            @extend .p-absolute, .top-0, .right-0;
            @include box(1.5rem, .5rem, 1px solid, $pa: min-width);
        }
        &.active{
            @extend .atFront;
            & + button{
                @extend .atFront;
            }
        }
    }
    form{
        @include box(1.5rem, 5rem auto, .5rem, border-radius);
        max-width: 480px;
        display: none;
        background-color: #eeeA;
        &:target{
            display: grid;
        }
        :is(input,textarea){
            @include box(.5rem 1rem, none, 1px solid #333, $ma: outline);
            &:focus{
                &:valid{
                    border-color: #3c6;
                }
                &:not(:placeholder-shown):invalid{
                    border-color: #c33;
                }
            }
        }
    }
}
