* {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
#root{
    padding: .5rem;
    perspective: 25rem;
    perspective-origin: top center;
}
#root > :is(div, section){
    display: none;
}
#root > :is(div,section):target{
    display: grid;
}