@use 'mixins';
.zero{ 
    @include box; 
    list-style: none;
    text-decoration: none;
}
.button{
    --color: #eee;
    --bg: transparent;
    @include box(.25rem,.25rem, 1px solid var(--color),$ma: border-radius);
    min-width: 1.5rem;
    min-height: 1.5rem;
    color: var(--color);
    background-color: var(--bg);
    &:hover{
        --bg: #ea3;
        color: var(--bg);
        background-color: var(--color);
    }
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.link{
    @include box(.25rem, none, #eee, color, $ma: text-decoration);
    opacity: .85;
    &:hover{
        opacity: 1;
        color: #fff;
        text-shadow: 0 0 .25rem #333, 0 0 .5rem #eee;
    }
}