@mixin layout(
    $dir: row,
    $j: center,
    $a: stretch,
    $w: wrap,
    $d:flex,
    $jp: content,
    $ap: items
    ){
    display: $d;
    flex-direction: $dir;
    justify-#{$jp}: $j;
    align-#{$ap}: $a;
    flex-wrap: $w;
}
@mixin pseudo($content, $type:before){
    &::#{$type}{
        content: $content;
    }
}