nav{
    @extend .flex-justify-space-between, .flex-align-center;
    display: flex;
    gap: .5rem;
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
        ul{
            display: flex;
            width: auto;
            padding: .5rem;
            gap: .5rem;
        }
    }
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}