.zero, nav ul, body {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.button, nav button {
  --color: #eee;
  --bg: transparent;
  border-radius: 0.25rem;
  border: 1px solid var(--color);
  padding: 0.25rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: var(--color);
  background-color: var(--bg);
}
.button:hover, nav button:hover {
  --bg: #ea3;
  color: var(--bg);
  background-color: var(--color);
}

.link, nav a {
  text-decoration: none;
  color: #eee;
  padding: 0.25rem;
  opacity: 0.85;
}
.link:hover, nav a:hover {
  opacity: 1;
  color: #fff;
  text-shadow: 0 0 0.25rem #333, 0 0 0.5rem #eee;
}

nav {
  margin: 0;
  border: 0;
  padding: 0.5rem max(calc(50vw - 660px),.5rem);
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  text-shadow: 0 0 0.25rem #333;
  background: #fc0 linear-gradient(#fa2A, #c60A);
}
@media screen and (width >= 768px) {
  nav button {
    display: none;
  }
}
nav ul {
  max-height: 0;
  width: 100%;
  overflow: hidden;
}
nav ul.active {
  max-height: 100vh;
}
@media screen and (width >= 768px) {
  nav ul {
    width: auto;
    display: flex;
    align-items: center;
    max-height: 100vh;
  }
}